{% extends 'catalog/base.html' %}

{% block content %}
<div class="row text-center mt-5">
    <div class="card-header mb-5">
        <h1>Product categories</h1>
    </div>
    {% for object in object_list %}
        <div class="col-3">
            <a class="text-decoration-none text-reset" href="{% url 'catalog:products' object.pk %}">
                <div class="card mb-4">
                     <div class="card-body">
                        <h1>{{ object.category }}</h1>
                    </div>
                 </div>
            </a>
        </div>
    {% endfor %}
</div>
{% endblock %}