{% extends 'catalog/base.html' %}

{% block content %}
<div class="row text-center">
    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto">
        <h1 class="display-4">{{ title }}</h1>
        <p class="lead">{{ description }}</p>
    </div>
    {% for object in object_list %}
        <div class="col-3">
            <a class="text-decoration-none text-reset" href="{% url 'catalog:products' object.pk %}">
                <div class="card mb-4">
                     <div class="card-body">
                        <h1>{{ object.category }}</h1>
                    </div>
                 </div>
            </a>
        </div>
    {% endfor %}
</div>
{% endblock %}